# Foundry
/out
/cache
/broadcast
/deployments

# Dependencies
/lib/*
!/lib/doppler
!/lib/v4-core
!/lib/v4-periphery
!/lib/forge-std
!/lib/openzeppelin-contracts
!/lib/openzeppelin-contracts-upgradeable
!/lib/continuous-clearing-auction

# Environment variables
.env
.env_*
.env.*

# Hardhat files (legacy)
/artifacts
/typechain
/typechain-types
/coverage
/coverage.json
/ignition/deployments/chain-31337

# Coverage reports
/coverage-report
lcov.info

# Node.js
node_modules

/cursor-tasks

.DS_Store
